#list{
    overflow: auto;
    width:80vw;
    height: 80vh;
    background-color: rgb(223, 223, 223);
    padding-top: 15px;
}

#header{
    
    
   
        font-weight:500;
        font-size:25px;
        padding: 10px;
     
        
    
}