#list{
    position: absolute; /* or `position: fixed;` if needed */
    left: 200px;
    top: 80px;
    width: 80vw;
    height: 80vh;
    background-color: rgb(223, 223, 223);
    padding-top: 15px;
    margin: 0;
    overflow: auto;
}

#header{  
 font-weight:500;
  font-size:25px;
   padding: 10px; 
}

#assignment{

    display: none;

}
body {
    margin: 0;
    padding: 0;
  }