
#list{

    
    position: absolute;
    left: 15vw;
    top: 10vh;
    height: 6vh;
    width: 6vw;
    background-color: blue;
}
#items{
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
   max-width: 80vw;
    height: 8vh;
    color: black;
    background-color: white;
    margin-bottom: 1cm;
    text-indent: 1vw;
    
    line-height: 6vh;
    border: 3px solid black;
   
}
#image{
    
    margin-top: -0.4vh;
    margin-left: 1vh;
    height: 6vh;
    width: 6vh;
    background-color: blue;
  

}

